{% extends "webstore/layout.html" %}
{% block title %}
    Fitness
{% endblock %}
{% block navigation %}
{% if logged %}
    {% include "webstore/headerLogged.html" %}
{% else %}
    {% include "webstore/header.html" %}
{% endif %}
{% endblock %}
{% block content %}
<div>All the subcategories in this selected category</div>
{% for subCategory in fitness %}
    <div><a href=?subcategory={{subCategory.urlName}}>{{subCategory.name}}</a></div>
{% endfor %}
{% include "webstore/recommended.html" %}
{% include "webstore/footer.html" %}
{% endblock %}