{% extends "webstore/layout.html" %}
{% block title %}
    Cart
{% endblock %}
{% block navigation %}
{% if logged %}
    {% include "webstore/headerLogged.html" %}
{% else %}
    {% include "webstore/header.html" %}
{% endif %}
{% endblock %}
{% block content %}
<div style="overflow: hidden; border: solid; width: 30%;">
{% for prod in product %}
    <div style="overflow: hidden;">
        <div style="float: left; width: 30%; margin-right: 1%;"><a href=?product={{prod.productID_id}}><img src=/static/images/{{prod.productID_id}}.jpg onerror="this.onerror=null; this.src='/static/images/placeholder.jpg'" alt="My image" width=150 height=150>X{{prod.quantity}}</a>
            <form method="post">{% csrf_token %}
                <input type="hidden" name="Remove" value=True>
                <input type="hidden" name="productID" value={{prod.productID_id}}>
                <input type="submit" value="Remove from cart">
            </form>
        </div>
    </div>
    <br>
{% endfor %}
</div>
{% if size > 0 %}
<br>
<div style="overflow: hidden;">
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="Checkout" value="True">
        <input type="submit" value="Checkout">
    </form>
</div>
{% elif CheckoutFinish %}
<div>Chekout successful</div>
{% else %}
<div>All the products in cart</div>
{% endif %}
{% include "webstore/footer.html" %}
{% endblock %}