{% extends "webstore/layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block navigation %}
{% include "webstore/header.html" %}
{% endblock %}
{% block content %}
<div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      {% if category is not null %}
        {% for cat in category %}
          <a href={{cat.urlName}}>{{cat.name}}</a>
        {% endfor %}
      {% else %}
        <div> null</div>
      {% endif %}
    </div>
  </div>
{% include "webstore/footer.html" %}
{% endblock %}