<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}"/>
</head>

<body>
<div class="navbar">
    <div style="float: left; overflow: hidden; margin-right: 5%;">
        <a href="{% url 'home' %}" class="navbar-brand">Home</a>
        <a href="{% url 'cart' %}" class="navbar-item">Shopping Cart</a>
        <a href="{% url 'logout' %}" class="navbar-item">Logout</a>
    </div>
    <div>
        <form>
            <label for="algorithm">Choose an algorithm:</label>
            <select name="algorithm" id="algorithm">
            <option value="popular">Most popular</option>
            <option value="user">User based</option>
            <option value="itemToItem">Product based</option>
            <option value="complimentary">Complimentary products</option>
            <option value="similar">Complimentary of similar products</option>
            <option value="deepRecs">Deep recs</option>
            </select>
        </form>
    </div>
</div>

<div class="body-content">
    {% block content %}
    {% endblock %}
    <hr/>
    <footer>
        <p>© 2021</p>
    </footer>
</div>
</body>
</html>