<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}"/>
</head>

<body>
<div class="navbar">
    <div style="float: left; overflow: hidden; margin-right: 5%;">
        <a href="{% url 'home' %}" class="navbar-brand">Home</a>
        <a href="{% url 'cart' %}" class="navbar-item">Shopping Cart</a>
        <a href="{% url 'logout' %}" class="navbar-item">Logout</a>
    </div>
    <div>
        <form method="post" action="/algorithm/">
            {% csrf_token %}
            <label for="algorithm">Choose an algorithm:</label>
            <select name="algorithm" id="algorithm">
            <option value="popular" {% if algorith == 0 %} selected {% endif %}>Most popular</option>
            <option value="user" {% if algorith == 1 %} selected {% endif %}>User based</option>
            <option value="itemToItem" {% if algorith == 2 %} selected {% endif %}>Product based</option>
            <option value="complimentary" {% if algorith == 3 %} selected {% endif %}>Complimentary products</option>
            <option value="similar" {% if algorith == 4 %} selected {% endif %}>Complimentary of similar products</option>
            <option value="deepRecs" {% if algorith == 5 %} selected {% endif %}>Deep recs</option>
            </select>
            <input type="submit" value="Ok">
        </form>
    </div>
</div>

<div class="body-content">
    {% block content %}
    {% endblock %}
    <hr/>
    <footer>
        <p>© 2021</p>
    </footer>
</div>
</body>
</html>