{% extends "webstore/layout.html" %}
{% block title %}
    Product
{% endblock %}
{% block navigation %}
{% if logged %}
    {% include "webstore/headerLogged.html" %}
{% else %}
    {% include "webstore/header.html" %}
{% endif %}
{% endblock %}
{% block content %}
{% if product is not None %}
    <div>{{product.name}}</div>
    <div>{{product.description}}</div>
    <div>{{product.price}}</div>
    <div>{{product.rank}}</div>
{% else %}
    <div>All the information for this specific product</div>
{% endif %}
{% include "webstore/footer.html" %}
{% endblock %}