{% extends "webstore/layout.html" %}
{% block title %}
    Product
{% endblock %}
{% block navigation %}
{% if logged %}
    {% include "webstore/headerLogged.html" %}
{% else %}
    {% include "webstore/header.html" %}
{% endif %}
{% endblock %}
{% block content %}
{% if product is not None %}
    <div style="overflow: hidden;">
        <div style="width: 30%; float:left;">
            <div>{{product.name}}</div>
            <div><img src=/static/images/{{product.productID}}.jpg onerror="this.onerror=null; this.src='/static/images/placeholder.jpg'" alt="My image" width=400 height=400></div>
            <div>{{product.description}}</div>
        </div>
        <div style="width: 30%; float:left;">
            <div>{{product.price}}€</div>
            <div>{{product.rank}}</div>
            <br>
            <div><button>Add to cart</button></div>
        </div>
    </div>
{% else %}
    <div>All the information for this specific product</div>
{% endif %}
{% include "webstore/footer.html" %}
{% endblock %}