{% extends "webstore/layout.html" %}
{% block title %}
    Household appliances
{% endblock %}
{% block navigation %}
{% if logged %}
    {% include "webstore/headerLogged.html" %}
{% else %}
    {% include "webstore/header.html" %}
{% endif %}
{% endblock %}
{% block content %}
<div>All the products in this selected category</div>
{% for prod in product %}
<div><a href=?product={{prod.productID}}><img src=/static/images/{{prod.productID}}.jpg onerror="this.onerror=null; this.src='/static/images/placeholder.jpg'" alt="My image" width=150 height=150> {{prod.price}}€</div>
<div>{{prod.name}}</a></div>
{% endfor %}
{% include "webstore/footer.html" %}
{% endblock %}